.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 0.5rem solid #ddd;
}

input[type="search"] {
  box-shadow: none;
}

.boom-callout {
  border: none;
  border-bottom: 0.5rem solid #ddd;
}
