$space-large: 2rem;
$space-medium: 1rem;
$space-small: 0.5rem;

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type="search"] {
  box-shadow: none;
}

.boom-callout {
  border: none;
  border-bottom: $space-small solid #ddd;
}
